// Contenedor principal para los múltiplos, con padding y fondo suave
.multiplos-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.dark-theme {
    --ion-background-color: #1a1a1a;
    --ion-text-color: #ffffff;
  
    ion-toolbar.dark {
      --background: #2a2a2a;
      --color: #ffffff;
    }
  }

// Estilo para el título principal
h1 {
    color: #333;
}

// Elimina los estilos de lista por defecto y quita el padding
ul {
    list-style-type: none;
    padding: 0;
}

// Estilo para los elementos de la lista de múltiplos
li {
    margin: 5px 0;
    font-size: 18px;
}